<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Avalia__.Properties.Settings.msdbConnectionString"
            connectionString="Data Source=L130635507W10-1\SQLEXPRESS;Initial Catalog=msdb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Avalia__.Properties.Settings.AureaConnectionString"
            connectionString="Data Source=L130635507W10-1\SQLEXPRESS;Initial Catalog=Aurea;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Avalia__.Properties.Settings.AureaConnectionString1"
            connectionString="Data Source=L130576527W10-1\SQLEXPRESS;Initial Catalog=Aurea;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>